
/* Utils */
body{
    font-family: sans-serif;
}

.row{
    margin: 30px 0;
}
/* columns */

[class^="col"]{
    min-height: 70px;
    background-color: blue;
    border: 1px solid white;
    padding: 0 10px;
}
.nested{
    background-color: lightgreen;
    border: 1px solid blue;
}